<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/styles.css" />
	<title>Sean's Projects</title>
</head>

<body id="projects">
	<div class="container">
		<div class="row justify-content-center">
			<div class="card" style="width: 40em; margin-top: 2em;">
				<div class="card-header">
					<h3>Budget Tracker</h3>
				</div>
				<div class="card-body">
					<p class="lead"> Keep track of your monthly expenses with this simple Budget Tracker app built with
						React, Redux, and Bootstrap!</p>
					<ul>
						<li><a href="https://warm-chamber-01633.herokuapp.com/">Budget Tracker</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br/>
		<div class="row justify-content-center">
			<div class="card" style="width: 40em; margin-top: 2em;">
				<div class="card-header">
					<h3>Movie Finder</h3>
				</div>
				<div class="card-body">
					<p class="lead"> Find all your favorite movies with this simple movie finder app built with the OMDB
						Api, React,
						Redux, and Bootstrap!</p>
					<ul>
						<li><a href="https://arcane-ravine-50865.herokuapp.com/">Movie Finder</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>