<!DOCTYPE html>
<htm>
    <head>
        <title>Thank You</title>
    </head>
        <body>
            <div>
                Thank you <%=contact.firstName %> <%= contact.lastName %>!
            </div>
        </body>
</html>